body{
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 80px;
    justify-content:space-between;
    background-color:#00286e;
    align-items: center;
}

#main-header{
    display: flex;
    color: #ffffff;
}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}

#logo-header:hover {
	color: hsla(177, 92%, 67%, 0.521);
}

#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
    color: #fff;
}

#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: rgb(255, 255, 255);
}

.menu {
    background: #00286e;
    text-decoration: none;
}

.menu a{
    color: rgb(255, 255, 255);
    padding-right: 10px;
}

menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

menu ul li {
    display: inline-block;
    line-height: 80px;
}

menu ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

li:hover{
    background:hsla(177, 92%, 67%, 0.521)
}

.pag{
    align-items: center;
    display: inline-flex;
    margin-bottom: 0;
    order: 1;
    outline: none;
    padding: 12;
}

.Z6I9qa {
    font-size: 16px;
    display: flex;
    position: relative;
    width: auto;
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,Meiryo,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro W3,Hiragino Kaku Gothic Pro,sans-serif!important;
    font-size: 20px;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 12px;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.background{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -webkit-box-direction: normal;
    color: #fff;
    text-align: center;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    width: 100%;
    height: 100%;
    display: flex;
}

.image-media-full-width-media{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -webkit-box-direction: normal;
    color: #fff;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.full-wisth-image-wrapper{
    position: relative;
    display: inline-block;
}

.image-wrapper{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -webkit-box-direction: normal;
    color: #fff;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    max-width: 70.5882352941rem;
    margin-top: 10rem;
    margin-right: auto;
    padding-top: 1.1764705882rem;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    left: 10px;
}

.image-content {
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -webkit-box-direction: normal;
    color: #fff;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
    width: 50%;
}

.image-heading {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    margin-top: 0;
    font-size: 2.9411764706rem;
    font-weight: 800;
    margin-bottom: 1.1764705882rem;
}

p{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    color: #333740;
    -webkit-box-direction: normal;
    cursor: default;
    text-align: center;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    margin-bottom: 0;
}

.f1{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    color: rgb(255, 255, 255);
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    margin-bottom: 1.1764705882rem;
}

.icon-grid-icon-grid-cols-2-theme-marble{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
    background-color: #f7f6f4;
    color: #333740;
    padding-top: 3.5294117647rem;
    padding-bottom: 3.5294117647rem;
}

.icon-grid-wrapper{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -webkit-box-direction: normal;
    color: #333740;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    max-width: 70.5882352941rem;
    margin-left: auto;
    margin-right: auto;
}

.icon-grid-content{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    color: #333740;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    max-width: 70.5882352941rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    position: relative;
}

.icon-tile{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    color: #333740;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    min-height: 0px;
    min-width: 0px;
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 33.3333333333%;
    cursor: default;
}

.icon-tile-text{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    color: #333740;
    -webkit-box-direction: normal;
    cursor: default;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 16.4705882353rem;
    margin-top: 1.1764705882rem;
    text-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.icon-icon-tile-icon{
    -webkit-text-size-adjust: 100%;
    font-family: "Avenir Next W01",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    color: #333740;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    fill: currentColor;
    overflow: visible;
    margin-bottom: 1.4705882353rem;
    width: 180px;
    height: 180px;
    cursor: pointer;
}


#main-footer {
    background: #00286e;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    margin-top: 10px;
    width: 100%;
}
    #main-footer p {
        margin: 0;
    }
    
    #main-footer a {
        color: white;
    }

    .foot{
        color: white
    }